@import '~/node_modules/bootstrap/scss/bootstrap.scss';

/* Reset From Bootraps */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

button {
  border: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

p,li,span{
  font-size: 1.2rem;
}
h2 > span{
  font-size: 3.5rem;
}

#app {
  font-family: 'Cairo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $pc-text-dark;
}

/* Utilities */
.pc_text_primary{
  color: $pc-text-light-primary;
}
.pc_text_secondary{
  color: $pc-text-light-secondary;
}
.pc_text_tertiary{
  color:$pc-light-tertiary;
}
.pc_bg_dark{
  background-color: $pc-bg-dark;
}

.pc_text_alert{
  color: $pc-text-alert;
}

/* Common Rules */

.container-fluid {
  width: 90%;
  max-width: 1700px;
}

.pc_btn {
  margin: 1rem 1rem 1rem 0;
  font-size: 1.1rem;
  padding: 0.7rem 2.3rem;
  border-radius: 20px;
  white-space: nowrap;
  ;
}

.btn_primary {
  background-color: $pc-btn-primary;
  background-image: linear-gradient(90deg,
      $pc-btn-primary 0%,
      #f8626b 100%);
  color: $pc-text-light-primary;


}

.btn_primary:hover{
  background-image: linear-gradient(90deg,
  $pc-btn-secondary 0%,
  #1e3f83 100%);
color: $pc-text-light-primary;


}

.btn_secondary {
  background-color: $pc-btn-secondary;
  background-image: linear-gradient(90deg,
      $pc-btn-secondary 0%,
      #1e3f83 100%);
  color: $pc-text-light-primary;
}

.btn_secondary:hover{
  background-color: $pc-btn-primary;
  background-image: linear-gradient(90deg,
      $pc-btn-primary 0%,
      #f8626b 100%);
  color: $pc-text-light-primary;
}

.jumbo {
  .col-5 {
    .jumbo_info {
      .info {
        margin: 3rem 0;
      }
    }
  }
}

.section_header{
  max-width: 600px;
  margin: auto;
}