@import '~/node_modules/bootstrap/scss/bootstrap.scss';

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

button {
  border: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

#app {
  font-family: 'Cairo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  color: $pc-text-dark;

}

/* Utilities */
.pc_text_primary{
  color: $pc-text-light-primary;
}
.pc_text_secondary{
  color: $pc-text-light-secondary;
}
.pc_bg_dark{
  background-color: $pc-bg-dark;
}

.pc_text_alert{
  color: $pc-text-alert;
}

/* Common Rules */

.container-fluid {
  width: 90%;
  max-width: 1700px;
}

.pc_btn {
  margin: 1rem;
  font-size: 1.2rem;
  padding: 0.4rem 1.6rem;
  border-radius: 15px;
  white-space: nowrap;
}

.btn_primary {
  background-color: $pc-btn-primary;
  background: linear-gradient(90deg,
      $pc-btn-primary 0%,
      #f8626b 100%);
  color: $pc-text-light-primary;
}

.btn_primary:hover{
  background: linear-gradient(90deg,
  $pc-btn-secondary 0%,
  #1e3f83 100%);
color: $pc-text-light-primary;

}

.btn_secondary {
  background-color: $pc-btn-secondary;
  background: linear-gradient(90deg,
      $pc-btn-secondary 0%,
      #1e3f83 100%);
  color: $pc-text-light-primary;
}

.btn_secondary:hover{
  background-color: $pc-btn-primary;
  background: linear-gradient(90deg,
      $pc-btn-primary 0%,
      #f8626b 100%);
  color: $pc-text-light-primary;
}

.jumbo {
  .col-5 {
    .jumbo_info {
      .info {
        margin: 3rem 0;
      }
    }
  }
}