$pc-text-dark: #010101;
$pc-text-light-primary: #FFFFFF;
$pc-text-light-secondary: #BABABA;
$pc-light-tertiary: #046C9A;
$pc-text-alert: #FA7F85;
$pc-bg-dark: #0A154D;
$pc-btn-primary: #B9276E;
$pc-btn-secondary: #05A0CD;


